.found_detail{
    background-color: #98e9d0;
    height: 100vh;
     background-image: url(https://web.bandalux.com/collection/backhome/img/rotulo1.png);
}

.title_detail {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: x-large;
    margin-top:3vh ;
    background-color: #21b6b6;
    padding: 0px 5vh;
    color: #fff;
}

.content_detail{
    display: flex;
}

.score_diets{
    display: flex;
}
.summary_steps{
    align-items: center;
}
.img_detail {
    transition: all 800ms ease;
}
.img_detail img{
    width:27em;
    
}
.img_detail:hover{
    width: 100%;
    opacity:0.4;
 filter:alpha(opacity=40);
 filter: opacity(0.9);
  transform: translatex(1%);
}
.score_detail {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score_detail h3{
    font-size: 80px;
    color: #8dac8c;
    margin-top: 5px;
}

.score_detail label{
    font-size: 20px;
    font-weight: 200;
    color: #000000;
}


.img_score_diets{
    margin: 20px;
    background-color: #fff;
    border-style: none;
    color: rgb(0, 0, 0);
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    width: 35.4%;
    height: 93vh;
    display: flex;
    max-width: 1000px;
    border-radius: 8px;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    
}

.diet_detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    justify-content: center;
    
}

.diet_detail label{
    font-size: 20px;
    font-weight: 200;
    color: #000000;
}

.diet_detail div{
    font-size: 20px;
    font-weight: 200;
    color: #000000;
}

.summary_steps {
    margin: 20px;
    background-color: #fff;
    border-style: none;
    color: rgb(0, 0, 0);
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    width: 70%;
    height: 93vh;
    display: flex;
    max-width: 1000px;
    border-radius: 8px;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
   
}

.summary_contain {
    padding: 1vh;
    background-color: #b1f3de;
}

.instruccions_detail  {
    margin:1.5vh;
    background-color: #eeffd8;
    border-radius: 8px;
    display: flex;
}

.dish_contain{
    font-size: 0.7em;
    color: #198080;
    font-weight: 300;
}

.dish_contain span{
    font-size: 2.3em;
    color: #198080;
}

.back_home_detail {
    position: relative;
    color: #198080;
  text-decoration: none;
  font-size: 13px;
  left: 18px;
}