.found_detail{
    background-color: #98e9d0;
    height: 100vh;
     background-image: url(https://arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/WVUERN2UUZDXHPHOX6LCBCGAPQ.jpg);
}

.title_detail {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: xx-large;
    margin-top:3vh ;
    background-color: #21b6b6;
    padding: 0px 5vh;
    color: #fff;
}

.content_detail{
    display: flex;
}

.score_diets{
    display: flex;
}
.summary_steps{
    align-items: center;
}
.img_detail {
    transition: all 800ms ease;
    position: relative;
}
.img_detail img{
    width:27em;
    
}

.score_detail {
    padding-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.home_detail {
    position: absolute;
    top: 0px;
    left: 40px;
    font-size: 3em;
    color: #fff;
    transition: all 400ms ease;
    background-color: orange;
    box-shadow: -8px 8px 26px 0px rgba(0,0,0,0.75);
}

.home_detail:hover {
    color: #335838;
}

.score_detail h3{
    font-size: 80px;
    color: #049e18;
    margin-top: 5px;
}


.img_score_diets{
    margin: 20px;
    background-color: #fff;
    border-style: none;
    color: rgb(0, 0, 0);
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    width:70vh;
    height: 93vh;
    display: flex;
    max-width: 1000px;
    border-radius: 8px;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background-color: rgb(255, 255, 255)
    
}

.img_score_diets:hover {
    background-color: rgb(247, 214, 153);
}

.diet_detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    justify-content: center;
    
}

.diet_detail label{
    font-size: 20px;
    font-weight: 200;
    color: #000000;
}

.diet_detail div{
    font-size: 20px;
    font-weight: 200;
    color: #000000;
}

.summary_steps {
    margin: 20px;
    background-color: #f3fffb;
    border-style: none;
    color: rgb(0, 0, 0);
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    width: 70%;
    height: 93vh;
    display: flex;
    max-width: 1000px;
    border-radius: 8px;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    overflow: auto
   
}

.summary_steps:hover {
    background-color: #b1f3de;
}

.summary_contain {
    padding: 1vh;
    background-color: #b1f3de;
}

.instruccions_detail  {
    margin:1.5vh;
    background-color: #c5f587;
    border-radius: 8px;
    display: flex;
}

.dish_contain{
    font-size: 0.7em;
    color: #198080;
    font-weight: 450;
}

.dish_contain span{
    font-size: 2.3em;
    color: #198080;
}

