.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 8px;
    
}

.nav_component{
    background-color: #73c8a9;
    color: #fff;
     margin: 6px 5px 6px 5px;
    padding: 10px 30px 10px 30px;
    border-radius: 8px;
}

.text {
    text-decoration: none;
    color: #fff;
}

.text:hover {
    color: rgb(7, 66, 25);
}

/* TODO recordatorio  : recuerda revissar favoritos ahi habian unos efectos hover muy bonitos */