.form {
    height: 290vh;
   display: flex;
   background-color: rgb(168, 225, 206);
   align-items: center;
   justify-content: center;
   width: 100%;
}

.contain_form{
    border-radius: 8px;
    background-color: #fff;
    width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
   justify-content: center;
   box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.3);
}

.title_form {
    font-weight: 100;
    font-size: 4em;
}

.title_form  span{
    font-weight: 100;
    font-size: 1.70em;
    color: #017143 ;
    font-weight: 500;
}

.input_text input {
    background-color: transparent;
    width: 400px;
    cursor: pointer;
    height: 30px;
    border: none ;
    border-bottom: 1px solid #017143;
  }
  
  .input_text  div{
    background-color: #ffffff;
  }
  .input_text  label{
    color: rgb(252, 123, 11) ;
  }

  .label_type{
    color: rgb(215, 55, 159) ;
  }

  .button_create{
    background-color: #59e2ae;
    border: none;
    border-width: 1.1px;
    font-size: x-large;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
    font-weight: 500;
    transition: all 400ms ease;
  }

  .button_create:active{
    transform: scale(0.85);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    background-color: #388568;
  }
  
  

/* .form_inputs{
    display: flex;
    display: flex;
    align-items: center;
   justify-content: center;
} */
/* .color1 { #59b390 };
.color2 { #f0ddaa };
.color3 { #e47c5d };
.color4 { #e32d40 };
#138a11
.color5 { #152b3c }; */