.card {
    margin: 10px;
  width: 25rem;
  background-color: #fcebb6;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    border-style: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.fund{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background: url(https://st.depositphotos.com/3263277/4364/v/450/depositphotos_43644843-stock-illustration-pasta.jpg); */
    background-color: #78c0a8;
}

.card:hover {
    filter: opacity(0.9);
    transform: scale(1.09);
    background-color: #f0a830;
    color: white;
    font-weight: bold;
  }
  .heathScore{
      font-size: 3rem;
  }