.container_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-size: 20px;
    /* line-height: 50px; */
    text-align: center;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #a3d921;
    color : white;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: all 400ms ease;
    margin: 6px 5px 6px 5px;
    
}

.button:hover {
    background-color: #7ae226;
    width: 8.4vh;
    height: 8.4vh;
    font-size: large;
}

.button:active {
    transform: scale(0.85);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
    background-color: #076a44;
}

.active_button {
    background-color: #076a44;
    width: 8.4vh;
    height: 8.4vh;
    font-size: large;
}