
.container .card {
  margin: 20px;
  background-color: #fff;
  /* transition: transform 0.3s ease-in-out; */
  border-style: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 600ms ease;
  width: 330px;
  height:300px;
  display: flex;
  max-width: 1000px;
  border-radius: 8px;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.fund {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
   background: url(https://static.vecteezy.com/system/resources/previews/001/237/180/non_2x/vegetables-on-dark-background-free-photo.JPG); 
   /* background-color: #f0ddaa;  */
 background-color: #0c3533;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  overflow: hidden;
  /* background-size: cover; */
}

.container .card:hover {
  transition: all 600ms ease;
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2);
  filter: opacity(0.9);
  transform: translateY(-3%);
  /* transform: scale(1.09); */
  /* background-color: #cefce9; */
  background-color: #ecfcc6;
  color: #458a11;
  font-weight: bold;
  height: 445px;
  overflow: hidden;
}

.card img {
    /* width: 100%; */
    width: 350px;
    height: 230px;
}
.container .card h4 {
    font-weight: 600;
    text-decoration: none;
}


.container .card  ul li {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}
.contenido{
  overflow: hidden;
}
.container .card .contenido {
  justify-content: center;
  justify-content: space-around;
}
.container .card .contenido .datos {
  display: flex;
  position: relative;
  overflow: hidden;
}
.container .card .contenido .name {
  justify-content: center;
}

.img_score {
  position: relative;
}

 .score {
  position: absolute;
  color:#fff;
  font-size:xx-large;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 47px;
  z-index: 3;
  background-color: #f88f06;
  top: 0;
  right: 9px;
  border-radius: 0 0 0px 8px;
  box-shadow: -8px 8px 26px 0px rgba(0,0,0,0.75);
  padding-left: 10px;
}

.Home {
  overflow: hidden;
}


