.order_alf {
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-weight: 300;
    color:rgb(7, 66, 25);
    transition: all 500ms ease;
    
}

.order_alf:hover {
    text-decoration: none;
    font-weight: 300;
    color:white;
    cursor: pointer;
}

.order_alf:active {
    text-decoration: none;
    font-weight: 300;
    color:rgb(7, 66, 25);
    cursor: pointer;
}


