/* 
.backgorund_image{
    background-image: url(https://cdn.pixabay.com/photo/2017/05/07/22/38/breaking-2293848_960_720.jpg);
    background-position: center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
} */

.backgorund_image {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
}

section {
  position: relative;
  /* width: 100%;
  min-height: 100vh; */
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

header {
  position: absolute;
  top: 10px;
  left: 100px;
  width: 100%;
  display: block;
}

.logo {
  /* position: absolute; */
  width: 160px;
  /* left: 0;
  top: -30; */
}

.content_landing {
  position: relative;
  width: 80%;
  display: block;
  justify-content: space-between;
  align-items: center;
}

.content_landing .textBox {
  position: relative;
  max-width: 600px;
}

.content_landing .textBox h2 {
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}

.content_landing .textBox h2 span {
  color: #017143;
  font-size: 1em;
  font-weight: 800;
  width: 70%;
}

.content_landing .textBox p {
  color: #333;
}

.content_landing .home_button {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background-color: #017143;
  color: #fff;
  border-radius: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 30px;
  transition: all 300ms ease;
  font-weight: 200;
}
.content_landing .home_button:hover {
  background-color: rgb(155, 223, 28);
  color: #017143;
  border: solid;
  border-color: rgb(155, 223, 28);
  font-size: 30px;
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2);
  filter: opacity(0.9);
  transform: translateY(-3%);
  font-weight: 200;
}

.imgBox {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 50px;
  position: absolute;
  right: -350px;
}

.content_landing .imgBox img {
  max-width: 340px;
}

.circle {
  position: absolute;
  bottom: -350px;
  right: 350px;
  width: 500px;
  height: 500px;
  background-color: #017143;
  border-radius: 130%;
  z-index: 3;
}




/* .color1 { #59b390 };
.color2 { #f0ddaa };
.color3 { #e47c5d };
.color4 { #e32d40 };
#138a11
.color5 { #152b3c }; */